.body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  color: black;
  overflow: hidden;
  box-sizing: content-box;
  /* filter: blur(8px); */
  /* position: relative; */
  background-color: black;
}
.input{
  background-color: grey;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sorting{
  background-color: yellow;
  height: 100%;
  width: 20%;
  border: 1px solid red;
  display: flex;
}
.sorting select{
  width: 30%;
  height: 10%;
  background-color:  pink;
  color: white;
  margin: auto;
}
.input input{
  background-color : #d1d1d1; 
  height: 10%;
  width: 50%;
  /* border: 2px solid black; */
  color: white
}
.table_div{
  width: 100%;
  border: 2px solid red;
  margin-left: auto;
}
.table{
  height: 80px;
  border-left: 1px solid white;
  word-wrap: break-word;
  table-layout: fixed;
  overflow: scroll;
}
.table1{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.table2{
  background-color: red;
  border-bottom: 1px solid black;
  font-size: 2rem;

}
.home{
  color: white;
  height: 20vh;
  width: 50%;
  margin: auto;
  display: flex;
justify-content: space-around;
align-items: center;
background-color: #0275dd;
}
.home span{
  margin-right: 50px;
  font-size: 2rem;
}
.form{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
/* @media (min-width: 0px) and (max-width: 10px){ */
.form1{
  width: 40%;
  background-color: white;
  color: black;
  /* border: 5px solid white; */
}
/* } */
.form1 label{
font-size:  2rem;
}
.form1 input{
  height: 20%; 
  width: 50%;
  margin-left: 10px;
  border: 2px solid black;
  color: black;
}
.form1 label{
  margin-left: 10px;
}
.form1 select{
  margin-left: 10px;
}
.form1 button{
  margin-right: auto;
  margin-left: auto;
  width: 20%;
  height: 20px;
  background: none;
  border: none;
  color: blue;
}

/* @media (min-width: 0px) and(max-width: 100000px){ */
  /* .form1{ */
    /* width: 100%; */
    /* background-color: white; */
    /* color: black; */
    /* border: 50px solid white; */
  /* } */
  /*  */


/* } */

.homepage_details{
  height: 100vh;
  width: 100%;
  /* border: 5px solid black; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* font-size: 3rem; */
  background-image: url('https://media.istockphoto.com/id/1356830579/photo/newly-striped-parking-lot.webp?b=1&s=170667a&w=0&k=20&c=f3kzSfn-F-ScoYRR5LoXfekbtE6TbnwKJwUFd87zuEs=');
  margin-top: 50px;
  
}
.homepage_details h1{
  background: none;
  /* opacity: 0;   */
}

.paginationButton1{
  width: 100%;
  height: 10%;
  /* border: 5px solid white; */
  display: flex;
  justify-content: center;
  text-align: center;
}
.paginationButton{
  height: 100%;
  width: 50%;
  /* border: 5px solid white; */
  display: flex;
  justify-content:  space-around;
}
.paginationButton button{
  width: 150px;
font-size: 20px;
border: none;
background: none;
cursor: pointer;
}
.navbar{
  height: 100vh;
  width: 30vh;
  border: 5px solid white;
  position: fixed;
  /* text-decoration: none; */
  background-color: brown;
  /* margin-top: 50px; */
  /* transition: all 15s ease-in-out; */
}
.navbar ul{
  list-style-type: none;
  position: fixed;
  cursor: pointer;
  color: white; 
  /* text-decoration: none; */
}
Link{
  text-decoration: none;
  color: white;
}
.table_user{
  /* height: 80vh; */
  width: 100%;
  /* border: 5px solid white; */
  display: flex;
  /* justify-content: left; */
text-align: left;
/* list-style: none; */
}
.table_user ul li{
  list-style-type: none;
}
.profile{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile1{
  height: 50%;
  width: 50%;
  /* border: 5px solid white; */
  /* text-align: center; */
  /* margin-right: 20%; */
}
.profile1 label{
  /* text-align:  left; */
  margin-right: 15%;
}
.profile2{
  height: 30rem;
  width: 30rem;
  border: 5px solid white;
  border-radius: 50%;
  background-image: url('https://i.pinimg.com/236x/f0/d3/28/f0d328d2f116501a495f7981376a8d3f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.profile1 ul li{
  list-style: none;
}
.image{
  margin-top: 105%;
  margin-left: 30%;
  background: none;
  border: none;
}
.errorPage{
  height: 100vh;
  width: 100vh;
  border: 15px solid white;
  display: flex;
  justify-content: center;
  text-align: center;
}
.errLine{
  color: red;
}
.popup1{
  height: 30%;
  width: 40%;
  border: 5px solid white;
  position: absolute;
  top: 35%;
  left: 30%;
  position: fixed;
  background-color: black;
  overflow: scroll;
}
.commentFirstDiv{
  height: 40%;
  width: 100%;
  /* border: 5px solid white; */
  display: flex;
  justify-content: space-around;
}
.commentDiv{
  height: 100%;
  width: 100px;
  /* border: 5px solid white; */
}
.commentDiv button{
  height: 50%;
  width: 100px;
/* border: 5px solid white; */
border: none;
background-color: blue;
}
.formHeading{
  width: 100%;
  font-size: 2rem;
  text-align: center;
  /* margin-left: 30%; */
  /* margin-right: auto; */
}

thead tr th{
  background-color: blue;
}
tbody tr td{
  background-color:   white;
}
.buttonStyle{
  border: none;
  background: none;
  cursor: pointer;
}
.header{
  /* border: 5px solid white; */
  height: 80px;
  width: 50%;
  text-align : center;
  font-size: 2rem;
}
.popup2{
  /* display: none; */
  display: fex;
  justify-content: right;
  flex-direction: row;
  text-align: left;
}